@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap');

body {
    margin: 0;
    background-color: black;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: orange;
    font-size: 2rem;
}

h3, h4, p {
    color: white;
    font-family: 'Audiowide', cursive;
}

h3, #score {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.15rem;
    color: #315399;
}

p {
    font-size: .75rem;
}

#score {
    color: orange;
}

.container {
    margin: 0 auto;
    text-align: center;
    max-width: 570px;
    zoom: 200%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 420px;
    height: 420px;
    border: double white;
}

.grid div {
    width: 15px;
    height: 15px;
}

.pac-dot {
    background-color: orange;
    border: 6px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: #315399;
}

.ghost-lair, .empty {
    /* background-color: white; */
}

.power-pellet::before {
    position: relative;
    z-index: 200;
    content: "🤬";
    font-size: 1em;
}

.power-pellet {
    /* background-color: orange; */
    /* border-radius: 7.0px; */
    animation: blinker 100ms step-start infinite;
}

@keyframes blinker {
    30% {
      opacity: 0;
    }
}

.pacman {
    border: none;
}

.pacman::before {
    position: relative;
    z-index: 200;
    content: "🤪";
    font-size: 1.25em;
}

.blinky::before,
.pinky::before,
.inky::before,
.clyde::before {
    background-color: transparent;
    border: none;
}

.blinky::before {
    position: relative;
    z-index: 200;
    content: "👻";
    font-size: 1.25em;
    color: transparent;
    text-shadow: 0 0 0 green;
}

.pinky::before {
    position: relative;
    z-index: 200;
    content: "👻";
    font-size: 1.25em;
    color: transparent;
    text-shadow: 0 0 0 pink;
}

.inky::before {
    position: relative;
    z-index: 200;
    content: "👻";
    font-size: 1.25em;
    color: transparent;
    text-shadow: 0 0 0 yellow;
}


.clyde::before {
    position: relative;
    z-index: 200;
    content: "👻";
    font-size: 1.25em;
    color: transparent;
    text-shadow: 0 0 0 red;
}

@media only screen and (max-width: 600px) {
    .container {
        zoom: normal;
    }
    html, body {
        overflow: hidden;
    }
}
